
body
{
    background-color:#002d5c;
    background-image: url("images/backgroundfullres.jpg");
    background-repeat: no-repeat;
    background-position:center center;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;

}
.container-fluid
{
    color:whitesmoke;
    font-family:Poppins;
}
.nav-link
{
    color: white;
}
.nav-link:hover
{
    color:lightslategray
}
.nav-link-active
{
    color: #fcc200;
}
.im
{
    color:#fcc200 ;
}
/*project*/
.card
{
    background-color: #090506;
    color: white;
}
.card-body
{
    background-color: #212529;
    color: white;
}
.tp a,p a 
{
    text-decoration: none;
    color: #fcc200;
}
/*-------------------------------about me------------------------------------*/
.sk
{
    display: flex;
    flex-direction: row;
    align-items:last baseline;
    align-content:stretch;

 
}
/*programming*/
.p1
{
    color: #4584b6;
    background-color: #090506;
}
.p2
{
    color: #f7df1e;
    background-color: #090506;
    
}
/*front-end*/
/*.fe 
{
    display: flex;
    justify-content: flex-end;
}
.pg 
{
    display: flex;
    justify-content: flex-start;
    
}
.ac 
{
    display: flex;
    justify-content: center;
}
.ed 
{
    display: flex;
    justify-content: center;

}*/
.f1
{
    color: #e34f26;
    background-color: #090506;
}
.f2
{
    color: #264de4;
    background-color: #090506;
}
.f3
{
    color: #563d7c;
    background-color: #090506;
}
.f4
{
    color: #00d8ff;
    background-color: #090506;
}
.f5
{
    color: #f14e32;
    background-color: #090506;
}
/*achievements*/
.a1
{
    background-color: #090506;
    color: white;
}
/*certifications*/
.c1
{
    color: #0064e0;
    
}
.c2
{
    color: #ff9900;
}
.c3
{
    color: #cb063a;
}
.nptel
{
  width:1.5%;
  height: 1.5%;
  object-fit: contain;
}
.ft1
{
    color: #e34f26;
}
.ft2
{
    color:#264de4;
}
.ft3
{
    color: #f7df1e;
}
.ft4
{
    color: #563d7c;
}
/*----------------------------------------projects----------------------------------------------*/
.a-project
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.a-project
{
    background-image: url("images/project-stages-animate.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.automation-project
{
    display: flex;
    justify-content: center;

}
.vehicle-project
{
    display: flex;
    justify-content: center;
}
.pic
{
    overflow: hidden;
}
.pic img
{
    transition: all 1.5s ease;
}
.pic:hover img
{
    transform: scale(1.5);
}


/* --------------------------------------------------------contact me----------------------------------------- */
form
{
    background-color:#090506 ;
    display: flex;
    flex-direction: column;
    padding: 20px ;
    width: 60%;
    max-width: 450px;
    border-radius: 10px;

}
form h3
{
    font-weight:200px;
    margin-bottom: 20px;
}
form input, form textarea
{
    border: 0;
    padding: 12px;
    margin: 10px;
    outline: none;
    border-radius: 10px;
}
form button
{
    padding: 20px;
    background-color:#fcc200;
    font-size: 19px;
    border: 5px;
    outline: none;
    cursor: pointer;
    width: 250px;
    margin: 30px auto 0;
    border-radius: 30px;
}
.focus
{
    
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    

}
.form-1
{
    border: 0px;
    padding: 5px;
    display: flex;
    height: 650px;


}
.contact-1
{

    border: 0px;
    padding: 5px;
    display: flex;
   height: 500px;


}
.l-1
{
    background-color: #090506;
    color: white;
    padding: 20px;
    border: 60px;
    
    

}
.contact-1 h3
{
    background-color: #090506;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.svg-1
{
    background-image: url("contact-us-animate.svg");
    background-repeat: no-repeat;
    max-width: 100%;
 
    max-height:100% ;
    background-position: center;
    background-size: contain;

}